<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>
  <body>
    <main class="app">
      <h2 class="app_title">Travel App</h2>
      <div id="topHolder" class="holder">
        <div class="trip_input">
          <label for="city">Destination:</label>
          <input type="text" id="city" placeholder="Enter city name here" />
        </div>
        <div class="trip_input">
          <label>Departure Date:</label>
          <input type="date" id="date" />
        </div>
        <div class="trip_input">
          <label>Returning Date:</label>
          <input type="date" id="end_date" />
        </div>
      </div>
      <div class="trip_generator">
        <button id="generate" type="submit" return Client.performAction(e)>
          Get My Trip Info!
        </button>
      </div>
      <div class="trip_details">
        <h3 class="country">Location: <span id="country"></span></h3>
        <h3 class="title">
          Your trip <span id="country"></span>is
          <span id="daysaway"></span>
        </h3>
        <h3>
          You will be there for:
          <span id="trip_lenght"></span>
        </h3>
        <div class="trip_banner">
          <div id="trip_img"></div>
          <div class="trip_content">
            <div class="trip_weather_and_coordinates">
              <div class="trip_weather">
                <span><strong>Typical Weather: </strong></span>
                <div id="weather"></div>
              </div>
              <div class="trip_coordinates">
                <div class="tri_lat">
                  <span><strong>Latitude: </strong></span>
                  <div id="lat"></div>
                </div>
                <div class="trip_long">
                  <span><strong>Longitude: </strong></span>
                  <div id="long"></div>
                </div>
              </div>
            </div>
            <div class="dates">
              <div class="trip_departure">
                <span><strong>Departure date: </strong></span>
                <div id="departure"></div>
              </div>
              <div class="trip_return">
                <span><strong>Return Date: </strong></span>
                <div id="return"></div>
              </div>
            </div>
            <div id="to-do" class="to-do_list">
              <h4 style="margin: 5px;">To-Do Trip</h4>
              <input type="text" id="myInput" placeholder="Add to-do" />
              <span onclick="newElement()" class="addBtn">Add</span>
            </div>
            <div class="to-do_items">
              <ul id="myUL"></ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      //** Create a "close" button and append it to each list item*/
      var myNodelist = document.getElementsByTagName("LI");
      var i;
      for (i = 0; i < myNodelist.length; i++) {
        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        myNodelist[i].appendChild(span);
      }

      /**Click on a close button to hide the current list item */
      var close = document.getElementsByClassName("close");
      var i;
      for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
          var div = this.parentElement;
          div.style.display = "none";
        };
      }

      /** Add a "checked" symbol when clicking on a list item*/
      var list = document.querySelector("ul");
      list.addEventListener(
        "click",
        function (ev) {
          if (ev.target.tagName === "LI") {
            ev.target.classList.toggle("checked");
          }
        },
        false
      );

      /**Create a new list item when clicking on the "Add" button */
      function newElement() {
        var li = document.createElement("li");
        var inputValue = document.getElementById("myInput").value;
        var t = document.createTextNode(inputValue);
        li.appendChild(t);
        if (inputValue === "") {
          alert("You must write something!");
        } else {
          document.getElementById("myUL").appendChild(li);
        }
        document.getElementById("myInput").value = "";

        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        li.appendChild(span);

        for (i = 0; i < close.length; i++) {
          close[i].onclick = function () {
            var div = this.parentElement;
            div.style.display = "none";
          };
        }
      }
    </script>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
